In [1]:
import pandas as pd

In [2]:
bikes = pd.read_csv('../Data/bikes.csv')

In [3]:
bikes.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,1/1/2011,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,1/2/2011,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,1/3/2011,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,1/4/2011,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,1/5/2011,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [4]:
honey = pd.read_excel('../Data/datasets_20465_26638_honeyproduction.xlsx')

In [5]:
honey.head()

  state  numcol  yieldpercol  totalprod  stocks  priceperlb  prodvalue  year
0    WY   34000           36    1224000  282000        1.59    1946000  2010
1    WY   35000           54    1890000  265000        1.72    3251000  2011
2    WY   37000           72    2664000  746000        0.61    1625000  1999
3    WY   37000           48    1776000  391000        1.43    2540000  2009
4    WY   38000           77    2926000  468000        0.65    1902000  2001

In [6]:
pwd

'/Users/jsr/Documents/GitHub/DS-Student-Resources/DS109-Python/Examples'